<div *ngIf="isAuthenticated; else loginTemplate">
  <div class="container-fluid">
    <div class="row">
      <!-- Navbar fixa na esquerda ocupando 2 colunas -->
      <div class="col-2 navbar p-0 m-0">
        <app-navbar></app-navbar>
      </div>

      <!-- Conteúdo na direita ocupando 10 colunas com scroll -->
      <div class="col-md-9 ml-sm-auto col-lg-10 p-0 m-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<ng-template #loginTemplate>
  <router-outlet></router-outlet>
</ng-template>
