<div class="container my-5">
    <div class="row row-cols-md-4 gy-5">
        <ng-container *ngFor="let item of data">
            <div class=" d-flex justify-content-center">
                <app-card [routerLink]="['/character-details', item.id]" [item]="item"></app-card>
            </div>
        </ng-container>
    </div>
</div>

<button (click)="proxima()">next</button>

<div class="d-flex justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" tabindex="-1" (click)="anterior()">Previous</a>
            </li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item active">
                <a class="page-link">2 <span class="sr-only"></span></a>
            </li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item">
                <a class="page-link" (click)="proxima()">Next</a>
            </li>
        </ul>
    </nav>
</div>