<div class="container">
    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quantidade de personagens</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quantidade de episódios</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personagens vivos</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personagens mortos</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Temporadas</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<p>adicionar seções de quantidade de quantidade com contator</p>
paginação

<div>
    <h2 class="text-center">Personagens</h2>
    <div class="container">
        <div class="row row-cols-md-4 gy-5">
            <ng-container *ngFor="let card of data.slice(0,4)">
                <div class=" d-flex justify-content-center">
                    <app-card [card]="card"></app-card>
                </div>
            </ng-container>
        </div>
        <div class="d-flex justify-content-center">
            <button routerLink="/character-list">Ver mais</button>
        </div>
    </div>
</div>
  